<div class="row-fluid">
    <div class="well-iu span12">


        <div class="well-heading"> Experiment Details</div>
        <div class="row-fluid">

            <button ng-click="goToCreateJob(selectedProject)" ng-hide="selectedProject=='AllExperiments'" ng-hide="selectedProject==''"class="btn" data-dismiss="modal" aria-hidden="true"
                    > Create New Experiment

            </button>

        </div>
        <div>
            <div>
                <!--div class="span3">
                    <table class="table table-hover table-condensed">
                        <thead>
                        <tr>
                            <th>Projects
                            </th>
                        </tr>

                        </thead>
                        <tbody>
                        <tr ng-repeat="project in projects">
                            <td ng-click="onProjectSelect(project.name)">{{project.name}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div-->
                <div>
                    <table class="table table-hover table-striped table-condensed">
                        <thead>
                        <tr>
                            <th><a href="#" ng-click="predicate = 'name'; reverse=!reverse">Name</a> <i
                                    ng-show="predicate=='name' && reverse" class="icon-arrow-up"></i><i
                                    ng-show="predicate=='name' && !reverse" class="icon-arrow-down"></i>
                            </th>

                            <th><a href="#" ng-click="predicate = 'submitDate'; reverse=!reverse">Submitted</a> <i
                                    ng-show="predicate=='submitDate' && reverse" class="icon-arrow-up"></i><i
                                    ng-show="predicate=='submitDate' && !reverse" class="icon-arrow-down"></i></th>
                            <th><a href="#" ng-click="predicate = 'project'; reverse=!reverse">Project</a>
                            </th>


                            <th><a href="#" ng-click="predicate = 'status'; reverse=!reverse">Status</a> <i
                                    ng-show="predicate=='status' && reverse" class="icon-arrow-up"></i><i
                                    ng-show="predicate=='status' && !reverse" class="icon-arrow-down"></i></th>

                        </tr>
                        <tr>
                            <th><input type="text" rel="filterTooltip" placeholder="Filter by" class="input-mini"
                                       ng-model="filterText.name"/></th>
                            <th><input type="text" rel="filterTooltip" placeholder="Filter by user" class="input-mini"
                                       ng-model="filterText.submitDate"/></th>
                            <th><input type="text" rel="filterTooltip" placeholder="Filter by" class="input-mini"
                                    /></th>
                            <th><input type="text" rel="filterTooltip" placeholder="Filter by state" class="input-mini"
                                       ng-model="filterText.status"/></th>

                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-hide="hideLoader"></tr>
                        <!--tr ng-hide="hideLoader">
                            <td colspan="8">
                                <div class="loading-iu"></div>
                            </td>
                        </tr -->
                        <tr ng-show="showError"></tr>
                        <tr ng-show="showError">
                            <td colspan="8">
                                <div class="alert alert-error">There was an error loading the job data !</div>
                            </td>
                        </tr>
                        <tr ng-show="jobs.length<1"></tr>
                        <tr ng-show="jobs.length<1">
                            <td colspan="8">
                                <div>No jobs running currently !</div>
                            </td>
                        </tr>
                        <tr ng-click="fetchSingleJob(job.id)" href="#myModal" role="button"
                            data-toggle="modal"
                            ng-repeat="job in jobs | filter:filterText|filter:project |filter:statusFilter| orderBy:predicate">
                            <td style="max-width:100px; word-wrap: break-word;">{{job.name}}</td>
                            <td>{{job.username}} ({{job.submitDate | date:'medium'}})</td>
                            <td>{{job.project}}</td>
                            <td>{{job.status}} / {{job.lastStatusUpdate}}</td>

                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>

        <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
             aria-hidden="true">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3 id="myModalLabel">Job Details</h3>
            </div>
            <div class="modal-body">
                <div class="row-fluid">
                    <div class="span4"><strong>Job ID</strong></div>
                    <div> {{item.id}}</div>
                </div>
                <div class="row-fluid">
                    <div class="span4"><strong>Name</strong></div>
                    <div> {{item.name}}</div>
                </div>
                <div class="row-fluid">
                    <div class="span4"><strong>Description</strong></div>
                    <div> {{item.description}}</div>
                </div>
                <div class="row-fluid">
                    <div class="span4"><strong>Project</strong></div>
                    <div> {{item.project}}</div>
                </div>
                <div class="row-fluid">
                    <div class="span4"><strong>Experiment status</strong></div>
                    <div> {{item.status}}</div>
                </div>
                <div class="row-fluid">
                    <div class="span4"><strong>Submit Date</strong></div>
                    <div> {{item.submitDate | date:'medium'}}</div>
                </div>
                <div class="row-fluid">
                    <div class="span4"><strong>Last status Update</strong></div>
                    <div> {{item.lastStatusUpdate}}</div>
                </div>

                <div class="row-fluid">
                    <div class="span4"><strong>Job Status</strong></div>
                    <div> {{item.jobstatus}}</div>
                </div>

                <!-- adding input files -->
                <div class="row-fluid">
                    <div class="span4"><strong>Input files</strong></div>
                    <div ng-repeat="input in job_details.inputs">
                        <li><a>{{input}}</a></li>
                    </div>

                </div>
                <br>
                <!-- adding intermediate files -->
                <div class="row-fluid">
                    <div class="span4"><strong>Intermediate files</strong></div>
                    <div ng-repeat="intermid in job_details.intermediateFiles">
                        <li><a>{{intermid}}</a></li>
                    </div>
                </div>
                <br>
                <!-- adding output files -->
                <div class="row-fluid">
                    <div class="span4"><strong>Input files</strong></div>
                    <div ng-repeat="output in job_details.outputs">
                        <li><a>{{output}}</a></li>
                    </div>
                </div>
                <br>
            </div>
            <div class="modal-footer">
                <div class="row-fluid">
                    <div class="span4">
                        <button class="btn" data-dismiss="modal" aria-hidden="true" ng-click="go('/newJob')">Clone
                            Job
                        </button>
                    </div>
                    <div class="span4">
                        <button class="btn" data-dismiss="modal" aria-hidden="true"
                                ng-click="cancelExperiment(item.id)">Cancel Job
                        </button>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>
<script>
    $('.dropdown-toggle').dropdown()
</script>
</div>